/*esercizio 1*/
.ex-1-square{
    transition: 3s;
}

.ex-1-square:hover{
    background-color: red;
}
/*esercizio2*/
.ex-2-square{
    transition: 3s;
}

.ex-2-square:active{
    width: 100%;
}
/*esercizio3*/
.ex-3-square{
    transition: 3s;
}

.ex-3-square:hover{
    border-radius: 100%;
}
/*esercizio4*/
.ex-4-square{
    transition: 3s;
}

.ex-4-square:hover{
    opacity: 0;
}
/*esercizio5*/
.ex-5-square{
    transition: 2s;
}

.ex-5-square:hover{
    transform: scale(3);
}

.ex-5-square:active{
    transform: scale(5);
}