/*esercizio 1*/
.ex-1-square{
    transition: 3s;
}

.ex-1-square:hover{
    background-color: red;
}
/*esercizio2*/
.ex-2-square{
    transition: 3s;
}

.ex-2-square:active{
    width: 100%;
}
/*esercizio3*/
.ex-3-square{
    transition: 3s;
}

.ex-3-square:hover{
    border-radius: 100%;
}
/*esercizio4*/
.ex-4-square{
    transition: 3s;
}

.ex-4-square:hover{
    opacity: 0;
}
/*esercizio5*/
.ex-5-square{
    transition: 2s;
}

.ex-5-square:hover{
    transform: scale(3);
}

.ex-5-square:active{
    transform: scale(5);
}
/*esercizio6*/
.ex-6-img:hover{
    filter: grayscale(1)
}
/*esercizio7*/
.ex-7-img{
    transition: 3s;
}

.ex-7-img:hover{
    filter: grayscale(.2);
}

/*esercizio8*/
.ex-8-img{
    transition: 3s;
}
.ex-8-img:hover{
    filter: sepia(.5) grayscale(.3); 
    border-radius: 35px;
}
/*esercizio9*/
.ex-9-img{
    transition: 3s;
}
.ex-9-img:hover{
    border-radius: 15px;
    transform: scale(1);
    filter: sepia(.3) grayscale(.6);
}
/*esercizio10*/
.ex-10-icon{
    animation: spin 3s linear infinite;
}
@keyframes spin{
    0%{
        transform: rotate(1turn)
    }
}
 /*esercizio11*/
 .ex-11-icon:hover{
    animation: spi 3s linear;

 }

 @keyframes spi{
    0%{
        transform: rotate(0);
    }
    85%{
        transform: rotate(300deg);
    }
    100%{
        transform: rotate(0);
    }
 }
/*esercizio12*/
.ex-12-button:hover .ex-12-top-white{
    animation: turn 3s linear;
}
@keyframes turn{
    0%{
        left: 5%;
    
    }
    50%{
        left: calc(100% - 40px);
    }

    100%{
        left: 5%;
    }
}

.ex-12-button:hover .ex-12-button-white{
    animation: turn 3s linear;
}

@keyframes turn{
    0%{
        right: 10%;
    
    }
    50%{
        right: calc(100% - 60px);
    }

    100%{
        right: 10%;
    }
}
/*esercizio13*/
.ex-13-button:hover .ex-13-top-white {
    animation: moveTopWhiteCompletely 2s linear;
}
@keyframes moveTopWhiteCompletely {
    0% {
        left: 10%;
        top: -10px;
    }
    30% {
        left: calc(100% - 30px);
        top: -10px;
    }
    45% {
        left: calc(100% - 30px);
        top: 100%;
    }
    75% {
        left: 0;
        top: 100%;
    }
    90% {
        left: -15px;
        top: -10px;
    }
    100% {
        left: 10%;
        top: -10px;
    }
}
.ex-13-button:hover .ex-13-bottom-white {
    animation: moveBottomWhiteCompletely 2s linear;
}
@keyframes moveBottomWhiteCompletely {
    0% {
        bottom: -10px;
        right: 20%;
    }
    30% {
        right: calc(100% - 30px);
        bottom: -10px;
    }
    45% {
        right: calc(100% - 30px);
        bottom: 100%;
    }
    75% {
        right: 0;
        bottom: 100%;
    }
    90% {
        right: -15px;
        bottom: -10px;
    }
    100% {
        bottom: -10px;
        right: 20%;
    }
}